<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script>

        var profileData = null,
            socket = null;

        //connect();

        function connect(token) {
            socket = io.connect('http://localhost:3000', {
                reconnection: false
            });

            socket.on('authenticate', function (data) {
                console.log('Authenticate', data);
                if (!data) {
                    authenticate(socket, token || 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImFobWlrYUB1bWljaC5lZHUiLCJpYXQiOjE0OTYzMjgzNTEsImV4cCI6MTQ5NzUzNzk1MX0.SwyWgu8-bgBvG7oaf07myrv8IVHQh6lQKeaL1n2q2wY')
                } else {
                    retrieveProfile(socket);
                }
            });

            socket.on('status', function (data) {
                console.log('Status', data);
            });

            socket.on('chat', function (data) {
                console.log('Chat', data);

                if (data.channel === $('#active-channel-name').data('name')) {
                    var id = data.user.email + '-' + (new Date()).getTime();
                    $('#messages').append('<p id="' + id + '"></p>');
                    $('[id="' + id + '"]').text(data.user.name + ': ' + data.message);
                }
            });

            socket.on('channels', function (data) {
                var firstChannel = false;
                if (typeof channelData === 'undefined') {
                    firstChannel = true;
                }
                channelData = data;

                console.log('Channels', data);

                $('#channels').html('');

                if (data.status) {
                    data.channels.forEach(function(channel, elem) {
                        $('#channels').append('<li class="channel" id="' + channel.name + '">' + (channel.user || channel.name) + '<ul id="users-' + channel.name + '"></ul></li>');

                        for (var email in channel.members) {
                            $('[id="users-' + channel.name + '"]').append('<li>' + channel.members[email].name + '<a onclick="startPrivateMessage(\'' + channel.members[email].email + '\');" class="btn btn-sm btn-primary">Start a private message</a></li>');
                        }
                    });
                }

                if (firstChannel) {
                    selectChannel('#general');
                    firstChannel = false;
                }
            });

            $(function() {
                $('#chat-input').keydown(function(event) {
                    if (event.keyCode === 13) {
                        sendMessage();
                    }
                })
            })
        }

        function startPrivateMessage(email) {
            socket.emit('new-chat', {
                users: [email]
            });
        }

        function sendMessage() {
            socket.emit('chat', {
                message: $('#chat-input').val(),
                channel: $('#active-channel-name').data('name')
            });

            $('#chat-input').val('');
        }

        function retrieveProfile(socket) {
            socket.emit('profile');

            socket.on('profile', function (data) {
                console.log('Profile', data);
                profileData = data;

                $('#user-name').text(profileData.user.full_name);
            });
        }

        function authenticate(socket, token) {
            socket.emit('authenticate', {
                token: token
            });
        }

        function selectChannel(channelName) {
            channelData.channels.forEach(function(channel) {
                if (channel.name === channelName) {
                    $('#active-channel-name').text(channel.user || channel.name);
                    $('#active-channel-name').data('name', channel.name);
                    $('#messages').html('');
                }
            });
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div slass="col-sm-4">
                <ul id='channels'>

                </ul>
            </div>

            <div class="col-sm-8" id="messages">

            </div>
        </div>

        <div class="row">
            <div class="input-group">
                <span class="input-group-addon" id="active-channel-name">

                </span>
                <span class="input-group-addon" id="user-name">

                </span>
                <input type="text" id="chat-input" class="form-control" aria-label="Chat input">
            </div>
        </div>
    </div>
</body>
</html>