version: '2'
services:
  mhacks_nginx:
    extends:
      file: docker-compose.yml
      service: mhacks_nginx
  mhacks_db:
    extends:
      file: docker-compose.yml
      service: mhacks_db
    volumes:
      - /data/mongodb:/data/db
#  mhacks_es:
#    extends:
#      file: docker-compose.yml
#      service: mhacks_es
#    volumes:
#      - /data/elasticsearch:/usr/share/elasticsearch/data
  mhacks_website:
    extends:
      file: docker-compose.yml
      service: mhacks_website
    links:
      - mhacks_db
#      - mhacks_es
    env_file:
      - production.env
  mhacks_shortener:
    extends:
      file: docker-compose.yml
      service: mhacks_website
    links:
      - mhacks_db
#      - mhacks_es
    env_file:
      - production.env
    environment:
      - SERVICE=shortener
      - VIRTUAL_HOST=mha.cx
