version: '2'
services:
  mhacks_nginx:
    extends:
      file: docker-compose.yml
      service: mhacks_nginx
  mhacks_db:
    extends:
      file: docker-compose.yml
      service: mhacks_db
    volumes:
      - /data/mongodb:/data/db
  mhacks_website:
    extends:
      file: docker-compose.yml
      service: mhacks_website
    links:
      - mhacks_db
    env_file:
      - production.env
    volumes:
      - ..:/usr/src/app
    command: sh -c "yarn install && yarn run startprod"